<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="black" name="apple-mobile-web-app-status-bar-style">
<meta content="telephone=no" name="format-detection">
<meta content="email=no" name="format-detection">
<meta name="description" content="不超过150个字符"/>
<meta name="keywords" content=""/>
<meta content="" name="author"/>
<title></title>
<link rel="stylesheet" href="./personallist.css">
<script src="./axios.js"></script>
<script src="./vue.js"></script>
<script type="text/javascript">
//引入该flexible.min.js
!function(e,t){function n(){var n=l.getBoundingClientRect().width;t=t||540,n>t&&(n=t);var i=100*n/e;r.innerHTML="html{font-size:"+i+"px;}"}var i,d=document,o=window,l=d.documentElement,r=document.createElement("style");if(l.firstElementChild)l.firstElementChild.appendChild(r);else{var a=d.createElement("div");a.appendChild(r),d.write(a.innerHTML),a=null}n(),o.addEventListener("resize",function(){clearTimeout(i),i=setTimeout(n,300)},!1),o.addEventListener("pageshow",function(e){e.persisted&&(clearTimeout(i),i=setTimeout(n,300))},!1),"complete"===d.readyState?d.body.style.fontSize="16px":d.addEventListener("DOMContentLoaded",function(e){d.body.style.fontSize="16px"},!1)}(375,1080);
</script>
</head>
  <body>
    <div id="app">
      <div class="web"></div>
      <div class="topareaBg">
        <div class="list" :class="index==1?'list1':''" v-for="(item, index) in data" :key="index">
          <img class="tou tou2" src="./imgs/tou2.png" alt="" v-if="index==0">
          <img class="tou tou1" src="./imgs/tou1.png" alt="" v-if="index==1">
          <img class="tou tou3" src="./imgs/tou3.png" alt="" v-if="index==2">
          <img class="photo" :class="index==2?'photo2':''" :src="item.smallpic" alt="">
          <div class="name">
            <span>{{item.myname}}</span>
            <img src="./imgs/male2.png" alt="">
          </div>
          <div class="level">
            <img src="./imgs/zhuan2.png" alt="">
            <span>a</span>
          </div>
          <p class="p1" v-if="index==0">11万</p>
          <p class="p2" v-if="index==1">22万</p>
          <p class="p3" v-if="index==2">33万</p>
        </div>
      </div>
      <div class="contenter">
          <div class="tips_area">
            <div :class="index==listState?'choosep':'p'" v-for="(item, index) in listName" :key="index" :id="index" @click="goList">
                <img class="img" :src="item[0]" alt="" v-if="index!=listState">
                <img class="img" :src="item[1]" alt="" v-if="index==listState">
            </div>
          </div>
          <div class="list_area">
              <div class="per" v-for="(item, index) in infoData" :key="index">
                <div class="index_area index_area1" v-if="index==0"><img class="img" src="./imgs/1index.png" alt=""></div>
                <div class="index_area index_area1" v-else-if="index==1"><img class="img" src="./imgs/2index.png" alt=""></div>
                <div class="index_area index_area1" v-else-if="index==2"><img class="img" src="./imgs/3index.png" alt=""></div>
                <div class="index_area" v-else>{{index+1}}</div>
                <div class="title_area">
                  <div class="photo_area">
                    <img class="bgimg" src="./imgs/1.png" alt="" v-if="index==0">
                    <img class="bgimg" src="./imgs/2.png" alt="" v-if="index==1">
                    <img class="bgimg" src="./imgs/3.png" alt="" v-if="index==2">
                    <img class="img" :src="item.smallpic" alt="">
                  </div>
                  <div class="nickname_area">
                    <p class="p">{{item.myname}}</p>
                    <div class="div">
                      <img class="img" src="./imgs/zhuan2.png" alt="">
                      <span class="num">{{item.level}}</span>
                      <img  class="imgx" v-if="item.gender==0" src="./imgs/female2.png" alt="">
                      <img  class="imgx" v-if="item.gender==1" src="./imgs/male2.png" alt="">
                      <!-- ♂ -->
                    </div>
                  </div>
                </div>
                <div class="num_area num_area1" v-if="index==0">{{item.sumprice}}</div> 
                <div class="num_area num_area2" v-else-if="index==1">{{item.sumprice}}</div>
                <div class="num_area num_area3" v-else-if="index==2">{{item.sumprice}}</div>
                <div class="num_area" v-else>{{item.sumprice}}</div> 
              </div>
          </div>

      </div>
    </div>
    <!-- built files will be auto injected -->
  </body>
  <script type="text/javascript">
    new Vue({
        el:'#app',
        data(){
          return{
            listName:[['./imgs/week2blue.png','./imgs/week2white.png'],['./imgs/month2blue.png','./imgs/month2white.png'],['./imgs/total2blue.png','./imgs/total2white.png']],
            // listName:['周榜','月榜','总榜'],
            ranktype:null,//1消费榜 2主播榜 3家族榜
            useridx:null,//当前用idx
            timetype:2,//1 日榜，2 周榜，3 月榜，4 总榜
            listState:0,//列表榜单状态值判断
            infoData:[],//初始榜单数据

            data:[{"pos":1,"sumprice":836220,"rankChange":1,"isFollow":0,"useridx":60001067,"myname":"大富豪","smallpic":"http://jinbaolive.oss-cn-shenzhen.aliyuncs.com/avator/201908/15/22/0325_60001067.png?x-oss-process=style/250","grade":25,"level":32,"gender":0,"isOnline":0},{"pos":2,"sumprice":117000,"rankChange":1,"isFollow":0,"useridx":60001115,"myname":"碎觉觉💤🍹","smallpic":"http://jinbaolive.oss-cn-shenzhen.aliyuncs.com/avator/201908/01/11/4225_60001115.png?x-oss-process=style/250","grade":9,"level":1,"gender":0,"isOnline":0},{"pos":3,"sumprice":110960,"rankChange":1,"isFollow":0,"useridx":60001217,"myname":"安安安安朵","smallpic":"http://jinbaolive.oss-cn-shenzhen.aliyuncs.com/avator/201907/31/21/1237_60001217.png?x-oss-process=style/250","grade":11,"level":1,"gender":0,"isOnline":0}]
          }   
        },
        created() {
          this.getMessage();
          this.getUrlData()
        },
        computed:{
        },
        methods:{
          //获取 ranktype useridx 的公共函数
          GetQueryString:function(name) { //name为要获得的参数名字
            var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)")
            var r = window.location.search.substr(1).match(reg)
            if(r != null) return decodeURI(r[2])
            return null;
          },
          getUrlData:function(){
            console.log(this.GetQueryString('ranktype'));
            console.log(this.GetQueryString('useridx'));
            // console.log(this.data.data)
          },
          getMessage:function(){
            console.log(this.data)
            var that =this;
            axios.post('/Rank/totalRankData', {
              ranktype: that.ranktype,
              timetype: that.timetype,
              useridx: that.useridx,
              page: 1,
            })
            .then(function (response) {
              that.infoData=response.data.data.rankList;
              //此处浅拷贝  下方改变原始数据变化
              var arr=response.data.data.rankList;
              arr.forEach(function(item,index,arr1){
                if(item.sumprice>=10000){
                  arr[index].sumprice=Math.floor(arr[index].sumprice/10000*100)/100+"万"
                }else{

                }
              })  
            })
            .catch(function (error) {
              console.log(error);
            });
          },
          goList:function(e){
            if(e.currentTarget.id==0){//1 日榜，2 周榜，3 月榜，4 总榜
              this.timetype=2;
              this.getMessage()
            }else if(e.currentTarget.id==1){
              this.timetype=3;
              this.getMessage()
            }else if(e.currentTarget.id==2){
              this.timetype=4;
              this.getMessage()
            }
            this.listState=e.currentTarget.id;
          },
          add:function(){
            axios.get('http://192.168.84.170:5000/LinkService/Auto/MixVerifyCode')
            .then(function (response) {
              console.log(response);
            })
            .catch(function (error) {
              console.log(error);
            });

          },	
        },
        beforeMount(){
        },
        mounted(){
        },
       
    })
  </script>
</html>
